.Dereg{
   width: 90%;
   max-width: 500px;
}

.Percent{
   float: right;
   display: block;
   margin: 20px 10px 5px;
}

.MainBar{
   background-color: lightgreen;
   width: 100%;
   height: 24px;
   border: 2px solid #eee;
   box-sizing: border-box;
   box-shadow: 2px 2px 4px #ccc;
}

.PercentBar{
   display: block;
   background-color: salmon;
   height: 100%;
   box-sizing: border-box;
   float: right;
}

.Title{
   display: inline-block;
   margin: 20px 10px 5px;
}