.Wrapper{
   display: block;
   background-color: #fff;
   width: 90%;
   max-width: 700px;
   min-height: 100px;
   margin: 0 auto;
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   z-index: 960;
   padding: 20px;
   box-sizing: border-box;
   box-shadow: 3px 3px 6px #aaa;
}

.FormContainer{
   width: 100%;
   border: 2px solid black;
   padding: 10px;
   text-align: center;
}

.LabelFull{
   text-align: left;
   display: block;
   margin: 2px auto;
   font-size: 20px;
   width: 84%;
}
.LabelHalf{
   display: inline-block;
   margin-right: 10px;
}
.DivFull{
   display: block;
   font-size: 20px;
}
.DivHalf{
   display: inline-block;
   margin: 10px 20px;
   font-size: 20px;
}
.InputFull{
   display: block;
   margin: 10px auto;
   padding: 2px 10px;
   height: 28px;
   border: 2px solid #ccc;
   border-radius: 2px;
   width: 80%;
   font-size: 18px;
}
.InputHalf{
   display: inline-block;
   padding: 2px 10px;
   text-align: center;
   height: 28px;
   border: 2px solid #ccc;
   border-radius: 2px;
   width: 28px;
   font-size: 18px;
}

.Submit{
   display: block;
   width: 200px;
   margin: 20px auto;
   background-color: lightgreen;
   height: 34px;
   font-size: 18px;
   line-height: 30px;
   border: 2px solid #bbb;
}