.SubjectBlocks {
   display: inline-block;
   width: 250px;
   height: 250px;
   margin: 20px;
   border: 2px solid #eee;
   box-shadow: 2px 3px 6px #ccc;
   box-sizing: border-box;
   padding: 10px;
   position: relative;
   transition: 0.4s transform;
   cursor: pointer;
}

.SubjectBlocks:hover {
   transform: scale(1.05);
   box-shadow: 4px 6px 12px #aaa;
}
.SubjectTiles:hover {
   transform: scale(1.02);
   box-shadow: 4px 6px 12px #aaa;
}
.SubjectList:hover {
   transform: scale(1.03);
   box-shadow: 4px 6px 12px #aaa;
}

.ImgBlocks {
   position: absolute;
   height: 100%;
   width: 100%;
   background-image: url(../../Assets/Images/deregAnalysis.jpg);
   box-sizing: border-box;
   background-position: center;
   background-size: cover;
   top: 0;
   left: 0;
}

.InfoBlocks {
   width: 100%;
   /* border: 1px solid black; */
   background-color: #ffffffea;
   position: absolute;
   padding: 10px;
   box-sizing: border-box;
   bottom: 0;
   left: 0;
}

.CodeBlocks {
   float: right;
   padding-left: 5px;
}

@media screen and (max-width: 500px) {
   .SubjectBlocks {
      display: inline-block;
      width: 42%;
      min-width: unset;
      height: 250px;
      margin: 10px;
      border: 2px solid #eee;
      box-shadow: 4px 5px 6px #aaa;
      box-sizing: border-box;
      padding: 10px;
      position: relative;
      transition: 0.4s transform;
      cursor: pointer;
   }

   .InfoBlocks {
      width: 100%;
      font-weight: 600;
      border: none;
      min-height: 104px;
      background-color: #ffffffe3;
      box-shadow: inset 10px #111;
      position: absolute;
      padding: 10px;
      box-sizing: border-box;
      bottom: 0;
      left: 0;
   }
}

.SubjectTiles {
   width: 90%;
   border: 2px solid black;
   max-width: 600px;
   display: inline-block;
   height: 180px;
   position: relative;
   cursor: pointer;
   margin-top: 20px;
   transition: 0.4s transform;
}

.ImgTiles {
   position: absolute;
   height: 100%;
   width: 100%;
   background-image: url(../../Assets/Images/devicemanagement.png);
   box-sizing: border-box;
   background-position: 50% 20%;
   background-size: cover;
   top: 0;
   left: 0;
}

.InfoTiles {
   width: 100%;
   border: 1px solid black;
   background-color: #ffffffdd;
   position: absolute;
   padding: 10px;
   box-sizing: border-box;
   bottom: 0;
   left: 0;
}

.CodeTiles {
   margin: 0 10px;
   float: right;
}

.brTiles {
   display: none;
}

.SubjectList {
   width: 48%;
   border: 2px solid black;
   min-width: 340px;
   max-width: 440px;
   display: inline-block;
   margin: 20px 0;
   min-height: 100px;
   position: relative;
   cursor: pointer;
   transition: 0.4s transform;
}

.ImgList {
   position: absolute;
   height: 100%;
   width: 30%;
   background-image: url(../../Assets/Images/devicemanagement.png);
   box-sizing: border-box;
   background-position: 50% 20%;
   background-size: cover;
   top: 0;
   left: 0;
}

.InfoList {
   width: 69%;
   background-color: #ffffffdd;
   /* position: absolute; */
   padding: 10px;
   box-sizing: border-box;
   /* top: 0;
   right: 0; */
   float: right;
   line-height: 1.6;
}

.CodeList {
   margin: 0 10px;
   float: right;
}

.brList {
   display: block;
}

@media screen and (min-width: 0px) {
   .SubjectTiles {
      width: 80%;
      border: 2px solid black;
      max-width: 360px;
      display: inline-block;
      height: 180px;
      position: relative;
      cursor: pointer;
      margin-top: 20px;
      transition: 0.4s transform;
   }
}

@media screen and (min-width: 1200px) {
   .SubjectList {
      max-width: 42%;
   }
}

@media screen and (min-width: 500px) and (max-width: 685px) {
   .SubjectBlocks {
      width: 40%;
   }
}

@media screen and (min-width: 850px) and (max-width: 1135px) {
   .SubjectBlocks {
      width: 28%;
   }
}

@media screen and (min-width: 1340px) and (max-width: 1525px) {
   .SubjectBlocks {
      width: 20%;
   }
}
