.StudentsSideBarPart{
   height: 44px;
   border: 2px solid #eee;
   box-shadow: 2px 2px 4px #ccc;
   line-height: 30px;
   padding: 5px 10px;
   background-color: #c6f3fb;
   align-items: center;
   color: rgb(33, 64, 78);
   display: flex;
   width: calc(100% - 10px);
   margin: 4px;
   box-sizing: border-box;
   text-decoration: none;
   transition: 0.2s all;
}

.StudentsSideBarPart:hover{
   transform: scale(1.05);
   box-shadow: 4px 4px 8px #ccc;
}

.Left{
   display: inline-block;
   width: 75%;
   padding-right: 20px;
   box-sizing: border-box;
   max-width: calc(100% - 70px);
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}
.Right{
   width: 70px;
}


@media screen and (max-width : 990px){
   .Left {
      display: none;
   }
}